#shoutbox-js .messages {
  height: 300px;
  overflow: auto;
}
#shoutbox-js .messages .row {
  margin-bottom: 10px;
  position: relative;
}
#shoutbox-js .shoutbox-image {
  position: absolute;
  left: 0px;
  top: 0px;
}
#shoutbox-js .shoutbox-image img {
  max-width: 32px;
  max-height: 32px;
}
#shoutbox-js .shoutbox-content {
  margin-left: 40px;
  font-size: 13px;
  vertical-align: top;
}
#shoutbox-js .shoutbox-user {
  font-weight: 500;
}
#shoutbox-js-form input {
  padding: 10px 0px;
  margin: 0px;
  width: 100%;
}
